<section>
<table>
  <thead>
    <tr>
      <td colspan=9 class="attribTitle">{{localize "tne.actor.attributestitle"}}</td>
    </tr>
  </thead>
  <tr>
    <td class="attribValueCell" data-edit="data.attributes.strength" contenteditable>
      {{data.attributes.strength}}</td>
    <td class="attribValueCell" data-edit="data.attributes.agility" contenteditable>
      {{data.attributes.agility}}</td>
    <td class="attribValueCell" data-edit="data.attributes.condition" contenteditable>
      {{data.attributes.condition}}</td>
    <td class="attribValueCell" data-edit="data.attributes.inteligence" contenteditable>
      {{data.attributes.inteligence}}</td>
    <td class="attribValueCell" data-edit="data.attributes.education" contenteditable>
      {{data.attributes.education}}</td>
    <td class="attribValueCell" data-edit="data.attributes.charisma" contenteditable>
      {{data.attributes.charisma}}</td>
    <td class="attribValueCell" data-edit="data.attributes.social" contenteditable>
      {{data.attributes.social}}</td>
    <td class="attribValueCell" data-edit="data.attributes.psi" contenteditable>
    {{data.attributes.psi}}</td>
    <td class="attribValueCell" data-edit="data.initiative" contenteditable>
    {{data.initiative}}</td>
  </tr>
    <td class="attribNameCell">{{localize "tne.actor.attributes.strength.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.agility.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.constitution.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.inteligence.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.education.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.charisma.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.psi.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.social.short"}}</td>
    <td class="attribNameCell">{{localize "tne.actor.attributes.initiative.short"}}</td>
  <tr>
  </tr>
</table>
</section>
